DS 256 Data Science Programming, Fall 2024
Prof Eatai Roth

Class 1.1

This class we'll be introducing new data types: lists and tuples.
You can read more about lists and tuples in [WTOP Ch 6](https://jakevdp.github.io/WhirlwindTourOfPython/06-built-in-data-structures.html).

### ASIDE: downloading the textbook

You can download (NOT clone) the entire textbook as interactive notebooks.

### ASIDE: how to export class notes to PDF

If you'd like to keep a copy of class notes as PDF, you can export Jupyter notebooks using 

File > Save and Export Notebook as... > PDF

If you get an error that you are missing XeLaTeX, you can install XeLatex on your machine with either:
 - [MikTeX for Windows, MacOs, Linux](https://miktex.org/download)

If you are using MacOS, open terminal and type.

```export PATH=/Library/TeX/texbin:$PATH```

Then quite Jupyter Lab (File > Shut Down) and relaunch.

You may also need to [install pandoc](https://pandoc.org/installing.html).

## Lists

A *list* is an ordered grouping of data.

Lists in Python are enclosed in brackets with items separated by commas. Lists can contain any object type and types don't need to be consistent within the list.

In [7]:
alist = [2, 3, 'Aubreigh', 4.2]
Blist = [5,6,9,10,25]
Clist = ['Cooper', 'MJ', 'Clyde']

### Adding to lists

You can add an item to the end of a list with ```.append(item)```

You can concatenate two lists with +.

In [11]:
alist.append ('hello')
alist

[2, 3, 'Aubreigh', 4.2, 'hello']

In [15]:
alist+Clist

[2, 3, 'Aubreigh', 4.2, 'hello', 'Cooper', 'MJ', 'Clyde']

In [33]:
alist.append(Clist)
E = alist
print(E)

[2, 3, 'Aubreigh', 4.2, 'hello', ['Cooper', 'MJ', 'Clyde'], ['Cooper', 'MJ', 'Clyde'], ['Cooper', 'MJ', 'Clyde'], ['Cooper', 'MJ', 'Clyde'], ['Cooper', 'MJ', 'Clyde'], ['Cooper', 'MJ', 'Clyde'], ['Cooper', 'MJ', 'Clyde']]

### Length of lists

You can get the length of a list with the function ```len(list)```

5

### Indexing of lists

The locations in a list are indexed by number, starting at 0. That is, a list starts with a zero-th entry.

Alternatively, you can index lists from the end backwards starting with -1 (the last item in a list).

You extract a value from a list using brackets. For example, ```myList[5]``` would return the 6th entry of the list.

And you can use indexing to assign new values to items in the list.

In [40]:
Blist

[5, 6, 9, 10, 25]

In [42]:

Blist[0]

5

In [44]:

Blist[-2]

10

### Slicing lists

A slice is an extraction of a sub-list from a list.

You slice a list as:

```
myList[startIdx:stopIdx:stepSize]
```
Notes:

 - the list will go up to but not include the stopIdx.
 - any of the parameters can be skipped.

Try some of these:
 - myList[0:5:2] - goes from 0 to 4 skipping every other
 - myList[0:5] - goes from 0 to 4
 - myList[4::] - starts at 4th number and goes to last number
 - myList[::3] - starts at 0 skipping by 3
 - myList[-3:] - starts at the end and counts backward 3

In [50]:
Alist = [0,1,2,3,4,5]

In [58]:
Alist[0:5:2]

[0, 2, 4]

In [62]:
myList=[0,1,2,3,4,5,6,7,8,9,10]

In [66]:
myList[0:5:2]

[0, 2, 4]

In [68]:
myList[0:5]

[0, 1, 2, 3, 4]

In [70]:
myList[4::]

[4, 5, 6, 7, 8, 9, 10]

In [72]:
myList[::3]

[0, 3, 6, 9]

In [74]:
myList[-3:]

[8, 9, 10]

In [76]:
myList[-11:-3]

[0, 1, 2, 3, 4, 5, 6, 7]

In [78]:
myList[-3:0:-1]

[8, 7, 6, 5, 4, 3, 2, 1]

In [82]:
'hello'[-1::-1]

'olleh'

### Finding an element in a list

If a list contains an element, you can find where that element is using ```.index(searchItem)```

In [88]:
myfavoritepets = ['Cooper','Clyde','Molly', 'Fletcher']
myfavoritepets.index('Cooper')
idx = myfavoritepets.index('Molly')

In [90]:
myfavoritepets[idx] = 'Mollie'
myfavoritepets

['Cooper', 'Clyde', 'Mollie', 'Fletcher']

## Tuples

Tuples are like lists in that they group any number of any kind of items. A tuple is enclosed in parentheses.

```
myTuple = (1,2,'hello')
```
HOWEVER, tuples are immutable. That just means that once they're created, you cannot change them. 
-no append
-no add
-no changing

In [92]:
myTuple = (1,2,'hello')

In [94]:
len(myTuple)

3

In [96]:
myTuple[2]

'hello'

In [98]:
myTuple[-1::-1]

('hello', 2, 1)

## Logical operators

If you make a comparison of two values, the result is a Boolean. Some comparisons you might make are:

 - \> - greater than
 - < - less than
 - \>= greater than or equal to
 - == equal to (note the difference between = (assigning a value) and == (True or false)
 - != not equal to

You can also combine boolean statements with *logical operators*:

 - ```and``` - A and B is ```True``` only if both are ```True```
 - ```or``` - A or B is ```True``` if at least one of them is ```True```
 - not - not A is the opposite of whatever A is.

In [104]:
myList == 5

False

In [115]:
5 != 6

True

In [121]:
False or True

True

In [123]:
False or False

False

In [125]:
True and False

False

In [127]:
True and True

True

In [131]:
False*6

0

In [133]:
False+6

6

In [135]:
True+6

7

You can also consider booleans to have values of 0 (for False) or 1 (for True).

Try some arithmatic with True and False.